@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed',
    sans-serif;
}

body{
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 78%;
    min-height: 400px;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "secA secA secB secC" 
    "secD secE secE secC";
}

.header{
    display: flex;
    justify-content: flex-start;
    gap: 18px;
}

.header img{
    border: 2px solid white;
    border-radius: 50%;
}

.section-E .header img{
    border: 2px solid hsl(263, 55%, 52%);
}

h2{
    font-size: 1.4rem;
}


.education{
    opacity: 50%;
}

.quote{
    opacity: 70%;
    font-size: 1rem;
}
section{
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column; 
    justify-content: space-evenly;
}


.section-A{
    grid-area: secA;
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 320px 10px; 
}

.section-B {
    grid-area: secB;
}

.section-C {
    grid-area: secC;
}

.section-D {
    grid-area: secD;
}

.section-E {
    grid-area: secE;
}

.bg-violet{
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

.bg-gray{
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.bg-dark{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.bg-light{
    background-color:hsl(0, 0%, 100%);
    color: hsl(0, 3%, 23%);
}


@media only screen and (max-width: 398px) {
    body{
        padding: 50px 0px;
    }
    .container{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 2fr 2fr;
        grid-template-areas: "secA"
        "secB"
        "secD"
        "secE"
        "secC";
    }

    .section-A {
        background-position: 150px 20px;
    }
}